---
import User from '../../public/icons/User.astro';

import AboutMe from '../components/AboutMe.astro';
import Hero from '../components/Hero.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout 
	title="Porfolio | Jordi Palacios - Desarrollador y Programador Web"
	description="Contrata a Jordi Palacios para desarrollar tu página web y hacerla única. Desarrollador Web. Especializado en crear experiencias. "
>
	<main class="px-4">
		<SectionContainer class="py-16 md-py-36">
			<Hero>
				<slot />
			</Hero>
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="experiencia">
				<h1>Experiencia</h1>
			</SectionContainer>
			<SectionContainer id="proyectos">
				<h1>Proyectos</h1>
			</SectionContainer>
			<SectionContainer id="sobre-mi">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white">
					<User class="size-96"/>
					Sobre mí
				</h2>
				<AboutMe />
			</SectionContainer>
		</div>
	</main>
</Layout>
