---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: '2021 - Presente',
        title: 'Software Department',
        company: 'Deima Ingenieros S.A.',
        description: 
            'Especializado en la programaci贸n de aut贸matas y robots industriales, mejorando la durabilidad y eficiencia del software en ambos campos. Interacci贸n con clientes para la resoluci贸n de problemas y la mejora de la calidad de los productos, durante las puestas en marcha y el mantenimiento de los mismos.',
    }
]
---

<ol class="relative mt-16">                  
    {EXPERIENCE.map((experience) => (
        <li>
            <ExperienceItem {...experience} />
        </li>
    ))}
</ol>

