---
import Badge from "./Badge.astro";


---

<section class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img 
        class="rounded-full overflow-hidden size-16"
        src="/fotoJordiPalacios.webp" 
        alt="fotoJordiPalacios"
        >
        <a href="https://www.linkedin.com/in/jordi-palacios-g%C3%B3mez-529046164" target="_blank" rel="noopener noreferrer">
            <Badge> Disponible para trabajar </Badge>
        </a>
        </div>
        <h1 class="text-white text-5xl font-bold flex flex-col items-start pb-4 ">
            <span>  Hey,</span>
            <span>soy Jordi Palacios</span>
        </h1>
        <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-fuchsia-500 [&>strong]:text-fuchsia-800 [&>strong]:font-semibold dark:text-gray-300">
            +3 a帽os de experiencia en la programaci贸n de aut贸matas.
            <strong>Ingeniero en Electr贸nica y Automatizaci贸n</strong>
            de Barcelona, Espa帽a . 
            Especializado .
        </p>   
</section>